{:output-to "resources/public/js/app.js"
 :output-dir "resources/public/js/out"
 :asset-path "js/out"
 :optimizations :none
 :browser-repl false
 :infer-externs true
 :optimize-constants true
 :closure-defines {"goog.DEBUG" false}
 :main calc.core_ui.main}
