{
 :calc/app      {:name "calc" :env "dev"}
 :calc/http     {:host "localhost"
                 :port 8080
                 :type :jetty}
 :calc/db       {:client {:server-type :dev-local
                          :system "dev"
                          :storage-dir "/tmp/.datomic/storage/"}
                 :db-name {:db-name "ops"}}
 :calc/logger   {:app :calc/app}
 }
